# =========================
# ENV
# =========================
.env

# STREAMLIT
.streamlit/

# =========================
# DATA
# =========================
data/raw/*
data/processed/*

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
.venv/
venv/

# =========================
# AIRFLOW
# =========================
airflow/logs/

# =========================
# SPARK
# =========================
spark-warehouse/
metastore_db/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db